<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Students</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | async">
        <td>{{student.name}}</td>
        <td>{{student.birthDate}}</td>
        <td>{{student.address}}</td>

        <td>
          <a (click)="modifyStudent(student)"><img width="25px" height="25px" src="assets/graphics/modify_icon.png"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
