<div class="panel panel-default">
  <div class="panel-heading">
    <h1>User Activity</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Creation Timestamp</th>
        <th>Created By</th>
        <th>Last Modified TImestamp</th>
        <th>Last Modified By</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | async">
        <td>{{student.name}}</td>
        <td>{{student.createdDate}}</td>
        <td>{{student.createdBy}}</td>
        <td>{{student.lastModifiedDate}}</td>
        <td>{{student.lastModifiedBy}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
