<h3 *ngIf="!isEdit">Create Student</h3>
<h3 *ngIf="isEdit">Modify Student Info</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
    </div>

    <div class="form-group">
      <label for="birthDate">Date of Birth</label>
      <!--<input  id="dateSLM"
              class="form-control bdate date-field-width"
              [maxDate]="yesterdayDate"
              #dp="bsDatepicker"
              bsDatepicker
              placement="bottom"
              [bsValue]="bsValue"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-default',showWeekNumbers: false}"
              placeholder="dd-mm-yyyy" autocomplete="off">
      <button id="calendar_img" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><img src="assets/graphics/calendar_20.png"></button>
-->
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="student.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="student.address" name="address">
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()" *ngIf="!isEdit" >Submit</button>
    <button type="submit" class="btn btn-success" (click)="onEdit()" *ngIf="isEdit">Modify</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted Student Information successfully!</h4>
</div>
